<%= @article.title %>
<%= @article.content %>

<form action="/articles/<%= @article.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>